body {
    padding: 0;
    margin: 0;
}
.container {
    position: relative;
    border: 1px solid black;
    border-bottom: 5px solid brown;
    width: 305px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(0, 89, 255),rgba(0, 89, 255, 0.274));
}
.nuvem {
    width: 70px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    left: 100%;
    animation: nuvemAnime 40s linear infinite;
}
.megaman {
    width: 50px;
    height: 50px;
    bottom: -10px;
    position: absolute;
}
.arvore {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -10px;
    left: 0px;
}
@keyframes nuvemAnime {
    0% {
        left: 100%;
    }
    100% {
        left: -70px;
    }
}
@keyframes arvoreAnime {
    0% {
        left: 100%;
    }
    100% {
        left: -50px;
    }
}
@keyframes megamanJump {
    0% {
        bottom: -10px;
    }
    50% {
        bottom: 70px;
    }
    100% {
        bottom: -10px;
    }
}

@media (min-width: 700px) {
    .container {
        border-bottom: 5px solid brown;
        width: 650px;
        height: 400px;
    }
    .nuvem {
        width: 140px;
        height: 80px;
        position: absolute;
        margin-top: 20px;
        left: 100%;
    }
    .megaman {
        width: 100px;
        height: 100px;
    }
    .arvore {
        width: 100px;
        height: 100px;
    }
    @keyframes megamanJump {
        0% {
            bottom: -10px;
        }
        50% {
            bottom: 150px;
        }
        100% {
            bottom: -10px;
        }
    }
    @keyframes arvoreAnime {
        0% {
            left: 100%;
        }
        100% {
            left: -100px;
        }
    }
}